@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --main-color: rgb(14, 196, 75);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #5f5d5d;
  color: #000;
  font-weight: 400;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

pre {
  margin: 0;
}

.hljs {
  background-color: #fff;
  padding: 0;
  border: 3px solid #000;
  padding: 10px;
  width: 100%;
}

figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  font-weight: 500;
  box-shadow: 0px 0px 6px 8px var(--main-color);
  transition: box-shadow 0.3s ease-in;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: #fff;
  max-width: 100%;
  padding: 10px;
  box-shadow: 0px 0px 6px 8px var(--main-color);
  border-radius: 15px;
  border: 4px solid #000;
}

.card__wrap {
  margin-bottom: 50px;
}

.card__header {
  display: flex;
  flex-wrap: wrap;
  min-height: 340px;
  justify-content: space-around;
  align-items: self-start;
  border: 3px solid #000;
  padding: 10px;
}

.card__header-block,
.card__header-block h3 {
  border: 3px solid #000;
  padding: 10px;
}

.card__header-block {
  min-height: 310px;
}

figure img {
  display: inline-block;
  object-fit: cover;
  border: 3px solid #000;
  border-right: none;
  height: 310px;
  width: 100%;
}

.card__title {
  margin: 0 0 20px;
  border: 3px solid #000;
  text-align: center;
  padding: 10px;
}

.card__contacts {
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  padding: 10px;
}

.card__contacts h2 {
  border: 3px solid #000;
  padding: 10px;
  margin: 15px;
}

.card__contacts-nav {
  border: 3px solid #000;
  padding: 10px;
  max-width: 550px;
  width: 100%;
}

.card__contacts-nav li {
  border: 3px solid #000;
  padding: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.card__contacts-nav a:hover {
  text-shadow: var(--main-color) 1px 0 10px;
  transition: text-shadow 0.3s ease-in;
  box-shadow: none;
}

li strong {
  text-transform: uppercase;
}

.card__goal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border: 3px solid #000;
  padding: 10px;
}

.card__goal h2,
.card__code-title {
  border: 3px solid #000;
  padding: 10px;
}

.card__hard-skills,
.card__english,
.card__code {
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
  padding: 10px;
}

.card__hard-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__hard-wrap h2 {
  border: 3px solid #000;
  padding: 10px;
  margin: 15px;
}

.card__hard-wrap ul {
  border: 3px solid #000;
  padding: 10px;
  max-width: 550px;
  width: 100%;
}

.card__hard-wrap li {
  border: 3px solid #000;
  padding: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.card__english-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 585px;
  width: 100%;
  border: 3px solid #000;
  padding: 10px;
}

.card__english-subtitle {
  font-size: 16px;
  border: 3px solid #000;
  padding: 10px;
  width: 100%;
  text-align: center;
}

.card__english-title {
  border: 3px solid #000;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.card__code-title {
  margin-right: 15px;
}

.card__code-wrap {
  width: 100%;
}

.card__footer {
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 15px;
}

.card__footer-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card__footer-contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 230px;
  width: 100%;
  border: 3px solid #000;
  padding: 10px;
}

.card__footer-copyright {
  border: 3px solid #000;
  padding: 10px;
}

.card__footer-contacts a {
  font-size: 17px;
  display: inline-block;
  border: 3px solid #000;
  padding: 10px;
}

.card__footer-contacts a:hover {
  box-shadow: 0px 0px 6px 8px var(--main-color);
  transition: box-shadow 0.3s ease-in;
}

.card__footer-contacts img {
  display: block;
  width: 100%;
}

.btn {
  background-color: #fff;
  border: transparent;
  cursor: pointer;
  color: #000;
  border: 3px solid #000;
  font-weight: bold;
  font-size: 20px;
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 8px;
  transition: transform 0.3s ease-in-out;
  width: 45px;
}

.btn.active {
  transform: translateX(-122px);
  border-right: none;
  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: 0px 0px 6px 8px var(--main-color);
  transition: box-shadow 0.3s ease-in;
}

.aside-burger__nav {
  background-color: #fff;
  border: 3px solid #000;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 30px;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  padding: 10px;
  visibility: hidden;
}

.aside-burger__nav.active {
  transform: translateX(0);
}

.aside-burger__link:hover {
  box-shadow: none;
  text-shadow: var(--main-color) 1px 0 10px;
  transition: text-shadow 0.3s ease-in;
}

.aside-burger__item {
  margin-bottom: 20px;
}

@media (max-width: 770px) {
  figure img {
    border-right: 3px solid #000;
  }
}

@media (max-width: 400px) {
  .card__footer-copyright {
    margin-bottom: 20px;
  }
}
